html {
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}

div,img {
	transition:transform ease-in-out 0.5s;
	border: none;
	cursor: pointer;
}


.background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url("../img/background2.jpg");
}

.background.trans {
	background-image: url("../img/textbackground2.jpg");
	background-color: black;
}

.pic {
	position: absolute;
	background-image: url("../img/building2.png");
}

.pic0 {
	opacity: 1;
	width: 28%;
	height: 13%;
	top: 20%;
	left: 23%;
	background-size: 313% 185%;
	background-position: 0% 0%;
}

.pic0.trans {
	transform: translate3d(-5%,-60%,0);
	width: 56%;
	height: 26%;
	box-shadow: none;
}

.pic0.clear {
	width: 0;
	height: 0;
	opacity: 0;
}

.pic1 {
	width: 18%;
	height: 15%;
	top: 30%;
	left: 37%;
	background-size: 372% 185%;
	background-position: 50% 0%;
}

.pic1.trans {
	transform: translate3d(-15%,-90%,0);
	width: 36%;
	height: 30%;
	box-shadow: none;
}

.pic1.clear {
	width: 0;
	height: 0;
	opacity: 0;
}

.pic2 {
	width: 18%;
	height: 15%;
	top: 31%;
	left: 55%;
	background-size: 520% 220%;
	background-position: 8% 99%;
	box-shadow: 20px 15px 10px rgba(34, 25, 25, 0.2);
}

.pic2.trans {
	transform: translate3d(-60%,-100%,0);
	width: 36%;
	height: 30%;
	box-shadow: none;
}

.pic2.clear {
	width: 0;
	height: 0;
	opacity: 0;
}

.pic3 {
	width: 23%;
	height: 18%;
	top: 45%;
	left: 30%;
	background-size: 404% 222%;
	background-position: 50% 100%;
	box-shadow: 20px 15px 10px rgba(34, 25, 25, 0.2);
}

.pic3.trans {
	transform: translate3d(-0%,-140%,0);
	width: 40%;
	height: 32%;
	box-shadow: none;
}

.pic3.clear {
	width: 0;
	height: 0;
	opacity: 0;
}

.pic4 {
	width: 22%;
	height: 21%;
	top: 51%;
	left: 54%;
	background-size: 482% 221%;
	background-position: 90% 100%;
	box-shadow: 20px 15px 10px rgba(34, 25, 25, 0.2);
}

.pic4.trans {
	transform: translate3d(-70%,-160%,0);
	width: 27%;
	height: 31%;
	box-shadow: none;
}

.pic4.clear {
	width: 0;
	height: 0;
	opacity: 0;
}

.pic5 {
	width: 27%;
	height: 18%;
	top: 63%;
	left: 29%;
	background-size: 277% 190%;
	background-position: 100% 0%;
	box-shadow: 20px 15px 10px rgba(34, 25, 25, 0.2);
}

.pic5.trans {
	transform: translate3d(-5%,-200%,0);
	width: 46%;
	height: 30%;
	box-shadow: none;
}

.pic5.clear {
	width: 0;
	height: 0;
	opacity: 0;
}

.text {
	transition: ease-in-out 1.5s;
	opacity: 0;
	position: absolute;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #6CCDB9;
	width: 62%;
	height: 0%;
}

.text.trans {
	opacity: 1;
	height: 50%;
	top: 39%;
	left: 19%;
}

.ToSouth {
	position: absolute;
	background-image: url("../img/back.png");
	background-size: 100% 100%;
	height: 10%;
	width: 15%;
	top: 88%;
	left: 83%;
}

.ToSouth.clear {
	height: 0%;
	width: 0%;
}

.back {
	position: absolute;
	opacity: 0;
	background-image: url("../img/back1.png");
	background-size: 100% 100%;
}

.back.show {
	opacity: 1;
	height: 10%;
	width: 15%;
	top: 88%;
	left: 3%;
}

.spinner {
	position: absolute;
	top: 37%;
	left: 20%;
    width: 50%;
    height: 20%;
    text-align: center;
}
 
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 5%;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
